.bam
.bash_logout
.bashrc
.gitconfig
.landscape/
.motd_shown
.ncbi/
.profile
.sudo_as_admin_successful
.viminfo
.wget-hsts
SRA/
SRR3401620.bam
SRR3401641.bam
SRR3401643.bam
SRR3401647.bam
SRR3401650.bam
SRR3401651.bam
SRR3401654.bam
SRR3401655.bam
SRR3401659.bam
SRR3401754.bam
SRR3401908.bam
SRR3401911.bam
SRR3401914.bam
SRR3401915.bam
bwa/
fastq/
fix_reads.sh
ncbi-genomes-2022-05-29/
report.txt
samtools-1.15.tar.bz2
samtools-1.15/
sratoolkit.3.0.0-ubuntu64.tar.gz
sratoolkit.3.0.0-ubuntu64/
sratoolkit.3.0.0-win64.zip
